@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fn-listAnimation {
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: #dedede;
    transform: translate3d(0, 100%, 0);
    transition: 1s cubic-bezier(.75, 0, .175, 1);
  }
  &.startAnimation {
    &::before {
      transform: translate3d(0, 0, 0);
    }
  }
  &.endAnimation {
    &::before {
      transform: translate3d(0, 100%, 0);
    }
  }
  &-item {
    opacity: 0;
    &.active {
      animation: fadeInUp 1s ease .5s 1 both;
    }
  }
}
.fn-drawerAnimation {
  opacity: 0;
  &.active {
    animation-name: fadeInSlide;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0s;
    animation-timing-function: ease-out;
  }
}
@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInSlide02 {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: skewX(15deg) translateX(0);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
