html {
  font-size: 62.5%;
  background-color: $black-color-01;
}
body {
  color: $black-color-01;
  font-size: 14px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  &.noScroll {
    overflow: hidden;
  }
}
main {
  overflow: hidden;
}
