html {
  font-size: 62.5%;
  background-color: $black-color-01;
}
body {
  color: $black-color-01;
  font-size: 14px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  &.noScroll {
    overflow: hidden;
  }
}
main {
  overflow: hidden;
}
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  box-sizing: border-box;
  &::-webkit-search-decoration {
    display: none;
  }
  &:focus {
    outline-offset: -2px;
  }
}
input, textarea {
  box-sizing: border-box;
  border-radius: 0;
  -webkit-appearance: none;
}
