.m-box-01 {
  text-align: center;
  padding: 10rem 0 30rem;
  background-image: url("../assets/images/bg/01.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: auto;
}
.m-box-02 {
  position: relative;
  margin-top: -210px;
  z-index: z(business);
}
.m-box-03 {
  background-color: $white-color-01;
}
.m-box-04 {
  color: $white-color-01;
  &-inner {
    @include borderBox();
    padding: 2rem .5rem 2rem;
    width: 340px;
    margin: 0 auto;
  }
  &-title {
    @include commonTitle();
  }
  &-text {
    @include commonTag();
  }
}
.m-box-05 {
  background-color: $white-color-01;
}
.m-title-01 {
  margin-bottom: 3rem;
}
.m-title-02 {
  text-align: right;
  margin-bottom: 3rem;
}
.m-title-03 {
  text-align: center;
  margin-bottom: 3rem;
}
.m-list-01 {
  display: flex;
  justify-content: space-between;
  color: $white-color-01;
  &-item {
    width: 23%;
    @include borderBox();
    padding: 2rem .5rem 3rem;
  }
  &-title {
    @include commonTitle();
  }
  &-subTitle {
    @include commonTag();
    margin-bottom: 2rem;
  }
  &-text {
    font-size: 1.1rem;
  }
}
.m-list-02 {
  display: flex;
  justify-content: space-between;
  &-item {
    width: 31%;
  }
  &-photo {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  &-inner {
    border-top: 1px solid $black-color-01;
    border-bottom: 1px solid $black-color-01;
    text-align: center;
    padding: 1.5rem 0;
  }
}
.m-contact-01 {
  margin-bottom: 8rem;
  &-input {
    border: 1px solid $black-color-01;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: .3rem 0 1rem;
  }
  &-textarea {
    border: 1px solid $black-color-01;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: .3rem 0 2rem;
    resize: none;
  }
  &-button {
    border: 1px solid $black-color-01;
    display: block;
    padding: 15px 40px;
    margin: 0 auto;
    background-color: $black-color-01;
    color: $white-color-01;
    transition: all ease .5s;
    &:hover {
      cursor: pointer;
      color: $black-color-01;
      background-color: $white-color-01;
    }
  }
}
.m-footer-01 {
  text-align: center;
  &-text {
    color: $white-color-01;
  }
}
.m-side-01 {
  background: $black-color-01;
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  text-align: center;
  z-index: z(side);
  &-item {
    margin-bottom: 10px;
  }
}
.m-diagonal-01 {
  position: relative;
  overflow: hidden;
  padding: 10rem 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 73%;
    margin: 3% -10% 0;
    background-color: $black-color-01;
    transform-origin: right center;
    transform: rotate(-4deg);
    z-index: -1;
  }
  &.m-footer-01 {
    padding: 5rem 0 0;
    &::before {
      height: 100%;
    }
  }
  &-inner {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10rem 0;
    text-align: center;
  }
}
