.m-header-01 {
  background-color: $black-color-01;
  position: fixed;
  top: 0;
  z-index: z(header);
  width: 100%;
  height: 80px;
  display: none;
  transform: translateY(-200%);
  transition: .5s linear;
  &.active {
    transform: translateY(0);
  }
  &-logo {
    display: block;
    margin: 1rem 0 0 1.5rem;
  }
}
.m-nav-01 {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  margin-top: -12px;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
  &-icon {
    position: relative;
    height: 30px;
    width: 30px;
  }
  &-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 30px;
    background-color: $white-color-01;
    &:nth-of-type(2) {
      top: 10px;
    }
    &:nth-of-type(3) {
      top: 20px;
    }
  }
}
.m-nav-02 {
  &-list {
    padding: 4rem 16rem 0;
  }
  &-item {
    margin-bottom: 1rem;
    &:nth-of-type(2) {
      text-align: right;
    }
    &:nth-of-type(3) {
      padding-left: 30rem;
    }
  }
  &-link {
    text-decoration: none;
    color: $white-color-01;
    font-size: 10rem;
    line-height: 1.2;
    @include hoverLink();
  }
}
.m-nav-03 {
  width: 44px;
  height: 30px;
  margin: 0 auto 10rem;
  &:hover {
    cursor: pointer;
  }
  &-border {
    position: relative;
    top: 0;
    left: 0;
    height: 2px;
    width: 44px;
    background-color: $white-color-01;
    &:nth-of-type(2) {
      top: 12px;
    }
    &:nth-of-type(3) {
      top: 24px;
    }
  }
}
.m-drawer-01 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $black-color-01;
  z-index: z(drawer);
  &-cancel {
    position: absolute;
    top: 23px;
    right: 1.5rem;
    z-index: 1;
  }
  &-icon {
    display: inline-block;
    width: 34px;
    height: 34px;
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
  &-text {
    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 5%;
      margin: -8% 0 0 -42%;
      background: $white-color-01;
    }
    &::before {
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
    }
  }
}
.m-box-01 {
  background-image: url("../assets/images/bg/01.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: z(visual);
  animation-name: zoomOut;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  &-logo {
    position: relative;
    z-index: 2;
  }
}
.m-box-02 {
  position: relative;
  margin-top: 750px;
  z-index: z(business);
}
.m-box-03 {
  position: relative;
  z-index: z(works);
  margin-top: -23rem;
}
.m-box-04 {
  color: $white-color-01;
  position: relative;
  z-index: z(company);
  margin-top: -20rem;
  &-inner {
    @include borderBox();
    padding: 2rem .5rem 2rem;
    width: 340px;
    margin: 0 auto;
  }
  &-title {
    @include commonTitle();
  }
  &-text {
    @include commonTag();
  }
}
.m-box-05 {
  position: relative;
  z-index: z(contact);
  margin-top: -18rem;
}
.m-title-01,
.m-title-02,
.m-title-03,
.m-title-04 {
  margin-bottom: 4rem;
}
.m-title-01 {
  &-img {
    max-width: 100%;
  }
}
.m-title-02 {
  text-align: right;
  &-img {
    max-width: 100%;
  }
}
.m-title-03 {
  text-align: center;
  &-img {
    max-width: 100%;
  }
}
.m-title-04 {
  &-img {
    max-width: 100%;
  }
}
.m-list-01 {
  display: flex;
  justify-content: space-between;
  color: $white-color-01;
  &-item {
    width: 23%;
    @include borderBox();
    padding: 2rem 1rem 3rem;
  }
  &-title {
    @include commonTitle();
  }
  &-subTitle {
    @include commonTag();
    margin-bottom: 2rem;
  }
  &-text {
    font-size: 1.1rem;
    text-align: left;
  }
}
.m-list-02 {
  display: flex;
  justify-content: space-between;
  &-item {
    width: 31%;
  }
  &-link {
    display: block;
  }
  &-photo {
    max-width: 100%;
    margin: 0 auto 4rem;
    display: block;
  }
  &-inner {
    border-top: 1px solid $black-color-01;
    border-bottom: 1px solid $black-color-01;
    text-align: center;
    padding: 1.5rem 0;
  }
}
.m-contact-01 {
  margin-bottom: 8rem;
  &-input {
    border: 1px solid $black-color-01;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: .3rem 0 1rem;
  }
  &-textarea {
    border: 1px solid $black-color-01;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: .3rem 0 2rem;
    resize: none;
  }
  &-button {
    border: 1px solid $black-color-01;
    display: block;
    padding: 15px 40px;
    margin: 0 auto;
    background-color: $black-color-01;
    color: $white-color-01;
    transition: all ease .5s;
    &:hover {
      cursor: pointer;
      color: $black-color-01;
      background-color: $white-color-01;
    }
  }
}
.m-footer-01 {
  text-align: center;
  position: relative;
  z-index: z(footer);
  margin-top: -40rem;
  &-text {
    color: $white-color-01;
  }
}
.m-side-01 {
  background: $black-color-01;
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  text-align: center;
  z-index: z(side);
  transform: translateX(200%);
  transition: .5s linear;
  &.active {
    transform: translateY(0);
  }
  &-logo {
    margin: 3rem 0 2rem;
    display: block;
  }
  &-item {
    margin-bottom: 1rem;
  }
  &-pageTop {
    position: absolute;
    bottom: 2rem;
    right: 50%;
    margin-right: -22px;
  }
}
.m-diagonal-01 {
  position: relative;
  overflow: hidden;
  padding: 10rem 0 20rem;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 73%;
    margin: 0 -10% 0;
    background-color: $black-color-01;
    transform-origin: right center;
    transform: rotate(-4deg);
    z-index: -1;
  }
  &.m-box-04 {
    padding-bottom: 5rem;
  }
  &.m-box-03,
  &.m-box-05 {
    &::before {
      background-color: $white-color-01;
    }
  }
  &.m-footer-01 {
    padding: 5rem 0 0;
    &::before {
      height: 100%;
    }
  }
  &-inner {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 5rem 0;
  }
}
