@media screen and (max-width: 1100px) {
  .m-side-01 {
    display: none;
  }
  .m-header-01 {
    display: block;
  }
  .l-container-01 {
    width: 100%;
    padding: 0 3rem 20rem;
    box-sizing: border-box;
    .m-box-03 & {
      padding-bottom: 60rem;
    }
  }
  .m-list-01 {
    flex-wrap: wrap;
    padding: 0 3rem;
    box-sizing: border-box;
    &-item {
      width: 48%;
      margin-bottom: 4%;
    }
  }
  .m-list-02 {
    padding: 0 3rem;
    box-sizing: border-box;
  }
  .m-title-01,
  .m-title-02,
  .m-title-03,
  .m-title-04 {
    text-align: center;
  }
  .m-title-01,
  .m-title-03 {
    &-img {
      width: 70%;
    }
  }
  .m-title-02,
  .m-title-04 {
    &-img {
      width: 50%;
    }
  }
  .m-box-03 {
    margin-top: -39rem;
  }
  .m-box-04 {
    margin-top: -77rem;
  }
  .m-nav-02 {
    &-list {
      text-align: center;
      padding: 12rem 4rem 0;
    }
    &-item {
      margin-bottom: 2rem;
      &:nth-of-type(2) {
        text-align: center;
      }
      &:nth-of-type(3) {
        padding-left: 0;
      }
    }
    &-link {
      font-size: 4rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .m-list-01 {
    padding: 0 4rem;
    &-item {
      width: 100%;
      margin-bottom: 4rem;
    }
  }
  .m-list-02 {
    flex-wrap: wrap;
    &-item {
      width: 100%;
      margin-bottom: 8rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .m-box-01 {
    &-movie {
      min-height: 110%;
      height: 110%;
    }
  }
}
@media screen and (max-width: 479px) {
  .m-diagonal-01 {
    &::before {
      width: 200%;
      margin: 0 -20% 0;
    }
  }
  .m-box-04 {
    &-inner {
      width: 70%;
      padding: 3rem 1rem;
    }
  }
  .m-title-01 {
    &-img {
      width: 100%;
    }
  }
  .m-list-01 {
    padding: 0 2rem;
  }
}
