.m-drawer-01.is-hide.fn-drawer
  div.m-drawer-01-cancel.fn-close-drawer
    p.m-drawer-01-icon
      span.m-drawer-01-text
  nav.m-nav-02
    ul.m-nav-02-list
      li.m-nav-02-item.fn-drawerAnimation
        a.m-nav-02-link.fn-close-drawer(href="#nav01") our business
      li.m-nav-02-item.fn-drawerAnimation
        a.m-nav-02-link.fn-close-drawer(href="#nav02") works
      li.m-nav-02-item.fn-drawerAnimation
        a.m-nav-02-link.fn-close-drawer(href="#nav03") company
      li.m-nav-02-item.fn-drawerAnimation
        a.m-nav-02-link.fn-close-drawer(href="#nav04") contact
