.m-side-01
  img.m-side-01-logo(src="../assets/images/logo/01.svg", width="80")
  ul.m-side-01-list
    li.m-side-01-item
      img.m-side-01-icon(src="../assets/images/logo/02_2.svg", width="44")
    li.m-side-01-item
      img.m-side-01-icon(src="../assets/images/logo/03_2.svg", width="44")
    li.m-side-01-item
      img.m-side-01-icon(src="../assets/images/logo/04_2.svg", width="44")
