.m-side-01
  a.m-side-01-logo(href="#wrapper")
    img.m-side-01-logo-img(src="../assets/images/logo/01.svg", width="44", alt="METRO FORTE")
  .m-nav-03
    .m-nav-03-icon
      .m-nav-03-border
      .m-nav-03-border
      .m-nav-03-border
  ul.m-side-01-list
    li.m-side-01-item
      a.m-side-01-link(href="http://akihata.jp", target="_blank")
        img.m-side-01-icon(src="../assets/images/logo/02_2.svg", width="44", alt="AKI HATA Official website")
    li.m-side-01-item
      a.m-side-01-link(href="http://q-mhz.com", target="_blank")
        img.m-side-01-icon(src="../assets/images/logo/03_2.svg", width="44", alt="Q-MHz")
    li.m-side-01-item
      a.m-side-01-link(href="https://ambers.co.jp", target="_blank")
        img.m-side-01-icon(src="../assets/images/logo/04_2.svg", width="44", alt="STUDIO AMBER NOTES")
  a.m-side-01-pageTop(href="#wrapper")
    img.m-side-01-pageTop-icon(src="../assets/images/other/pagetop.svg", width="44", alt="ページTOPへ")
