doctype
html(lang="ja")
    head
        include _include/meta
        title タイトル
        link(rel='stylesheet', href="../css/style.css")
    body
        p Hello World
        .instagram
        .m-hoge-01
        img(src="../assets/images/sample.jpg")
        video(src="../assets/media/sample.mp4", width="300", autoplay)
        script(src="../js/app.js", type="text/javascript")

