doctype
html(lang="ja")
  head
    include _include/meta
    title タイトル
    link(rel='stylesheet', href="../css/style.css")
  body.noScroll
    .m-opening-01.fn-opening
      .m-loader-01
    #wrapper
      include _include/header
      main
        .m-box-01
          .m-box-01-bg.m-box-01-bg-01.m-box-01-slider-01
          .m-box-01-bg.m-box-01-bg-02.m-box-01-slider-02
          .m-box-01-bg.m-box-01-bg-01.m-box-01-slider-03
          .m-box-01-bg.m-box-01-bg-02.m-box-01-slider-04
          .m-box-01-bg.m-box-01-bg-01.m-box-01-slider-05
          .m-box-01-bg.m-box-01-bg-02.m-box-01-slider-06
          .m-box-01-bg.m-box-01-bg-01.m-box-01-slider-07
          h1.m-box-01-logo
            img(src="../assets/images/logo/01.svg", width=140, alt="METRO FORTE")
        .m-bg-01
          .m-box-02.m-diagonal-01#business
            .m-diagonal-01-inner
              .l-container-01
                h2.m-title-01
                  img.m-title-01-img(src="../assets/images/title/01.png", alt="our business")
                ul.m-list-01
                  li.m-list-01-item.fn-listAnimation
                    p.m-list-01-title.fn-listAnimation-item 楽曲制作、レーベル運営
                    p.m-list-01-subTitle.fn-listAnimation-item sound produce
                    p.m-list-01-text.fn-listAnimation-item 音楽が必要なコンテンツにおいて、歌唱、作詞、作曲、編曲等含め、企画制作業務。オリジナルレーベルからの発信。
                  li.m-list-01-item.fn-listAnimation
                    p.m-list-01-title.fn-listAnimation-item 著作権管理
                    p.m-list-01-subTitle.fn-listAnimation-item rights management
                    p.m-list-01-text.fn-listAnimation-item 楽曲の登録、管理業務。
                  li.m-list-01-item.fn-listAnimation
                    p.m-list-01-title.fn-listAnimation-item 音楽スタジオ経営
                    p.m-list-01-subTitle.fn-listAnimation-item music studio management
                    p.m-list-01-text.fn-listAnimation-item 音楽スタジオ経営（AMBER NOTES, AMBER NOTES PICO）。
                  li.m-list-01-item.fn-listAnimation
                    p.m-list-01-title.fn-listAnimation-item 作家、アーティストのマネージメント
                    p.m-list-01-subTitle.fn-listAnimation-item creator, artist management
                    p.m-list-01-text.fn-listAnimation-item 音楽制作に伴う、作家やアーティストのブッキング、スケジュール管理業務。
          .m-box-03.m-diagonal-01#works
            .m-diagonal-01-inner
              .l-container-01
                h2.m-title-02
                  img.m-title-02-img(src="../assets/images/title/02.png", alt="works")
                ul.m-list-02
                  li.m-list-02-item
                    a.m-list-02-link(href="http://akihata.jp", target="_blank")
                      .m-list-02-photo
                        img.m-list-02-photo-img.fn-listAnimation-item-02(src="../assets/images/photo/01.jpg", alt="AKI HATA Official website")
                        p.m-list-02-photo-text 畑亜貴という概念
                      .m-list-02-inner.fn-listAnimation
                        img.m-list-02-icon.fn-listAnimation-item(src="../assets/images/logo/02_1.svg", width="100" alt="AKI HATA Official website")
                  li.m-list-02-item
                    a.m-list-02-link(href="http://q-mhz.com", target="_blank")
                      .m-list-02-photo
                        img.m-list-02-photo-img.fn-listAnimation-item-02(src="../assets/images/photo/02.jpg", alt="Q-MHz")
                        p.m-list-02-photo-text Q-MHz
                      .m-list-02-inner.fn-listAnimation
                        img.m-list-02-icon.fn-listAnimation-item(src="../assets/images/logo/03_1.svg", width="100" alt="Q-MHz")
                  li.m-list-02-item
                    a.m-list-02-link(href="https://ambers.co.jp", target="_blank")
                      .m-list-02-photo
                        img.m-list-02-photo-img.fn-listAnimation-item-02(src="../assets/images/photo/03.jpg", alt="STUDIO AMBER NOTES")
                        p.m-list-02-photo-text アンバース株式会社
                      .m-list-02-inner.fn-listAnimation
                        img.m-list-02-icon.fn-listAnimation-item(src="../assets/images/logo/04_1.svg", width="100" alt="STUDIO AMBER NOTES")
          .m-box-04.m-diagonal-01#company
            .m-diagonal-01-inner
              .l-container-01
                h2.m-title-03
                  img.m-title-03-img(src="../assets/images/title/03.png", alt="company")
                .m-box-04-inner.fn-listAnimation
                  p.m-box-04-title.fn-listAnimation-item 株式会社メトロフォルテ
                  p.m-box-04-text.fn-listAnimation-item METROFORTE Inc.
          .m-box-05.m-diagonal-01#contact
            .m-diagonal-01-inner
              .l-container-01
                h2.m-title-04
                  img.m-title-04-img(src="../assets/images/title/04.png", alt="contact")
                .m-contact-01
                  p.m-contact-01-text お名前 *
                  input.m-contact-01-input(type="text")
                  p.m-contact-01-text メールアドレス *
                  input.m-contact-01-input(type="text")
                  p.m-contact-01-text 電話番号 *
                  input.m-contact-01-input(type="tel")
                  p.m-contact-01-text 会社名
                  input.m-contact-01-input(type="text")
                  p.m-contact-01-text 件名 *
                  input.m-contact-01-input(type="text")
                  p.m-contact-01-text お問い合わせ内容 *
                  textarea.m-contact-01-textarea(rows="8")
                  input.m-contact-01-button(type="submit", value="send comment")
          .m-footer-01.m-diagonal-01
            .m-diagonal-01-inner
              footer
                p.m-footer-01-text &copy; metroforte inc.
      include _include/side
      include _include/drawer
    script(src="../js/app.js", type="text/javascript")

