doctype
html(lang="ja")
  head
    include _include/meta
    title タイトル
    link(rel='stylesheet', href="../css/style.css")
  body
    main
      .m-box-01
        h1
          img(src="../assets/images/logo/01.svg", width=400, alt="METRO FORTE")
      .m-box-02
        .l-container-01
          h2.m-title-01
            img(src="../assets/images/title/01.png", alt="our business")
          ul.m-list-01
            li.m-list-01-item
              p.m-list-01-title 楽曲制作
              p.m-list-01-subTitle sound produce
              p.m-list-01-text 音楽が必要なコンテンツにおいて、歌唱、作詞、作曲、編曲等含め、企画制作業務。
            li.m-list-01-item
              p.m-list-01-title 著作権管理
              p.m-list-01-subTitle rights management
              p.m-list-01-text 楽曲の登録、管理業務。
            li.m-list-01-item
              p.m-list-01-title 音楽スタジオ経営
              p.m-list-01-subTitle music studio management
              p.m-list-01-text 音楽スタジオ経営（AMBER NOTES, AMBER NOTES PICO）。
            li.m-list-01-item
              p.m-list-01-title 作家、アーティストのマネージメント
              p.m-list-01-subTitle creator, artist management
              p.m-list-01-text 音楽制作に伴う、作家やアーティストのブッキング、スケジュール管理業務。
      .m-box-03
        .l-container-01
          h2.m-title-02
            img(src="../assets/images/title/02.png", alt="works")
          ul.m-list-02
            li.m-list-02-item
              img.m-list-02-photo(src="../assets/images/photo/01.jpg", alt="")
              .m-list-02-inner
                img.m-list-02-icon(src="../assets/images/photo/01.jpg", width="100" alt="")
            li.m-list-02-item
              img.m-list-02-photo(src="../assets/images/photo/02.jpg", alt="")
              .m-list-02-inner
                img.m-list-02-icon(src="../assets/images/photo/01.jpg", width="100" alt="")
            li.m-list-02-item
              img.m-list-02-photo(src="../assets/images/photo/03.jpg", alt="")
              .m-list-02-inner
                img.m-list-02-icon(src="../assets/images/photo/01.jpg", width="100" alt="")
      .m-box-04
        .l-container-01
          h2.m-title-03
            img(src="../assets/images/title/03.png", alt="company")
          .m-box-04-inner
            p.m-box-04-title 株式会社メトロフォルテ
            p.m-box-04-text METROFORTE Inc.
        script(src="../js/app.js", type="text/javascript")

