doctype
html(lang="ja")
  head
    include _include/meta
    title タイトル
    link(rel='stylesheet', href="../css/style.css")
  body
    ul.m-list-01
      li.m-list-01-item.fn-listAnimation
        p.m-list-01-title.fn-listAnimation-item 楽曲制作、レーベル運営
        p.m-list-01-subTitle.fn-listAnimation-item sound produce
        p.m-list-01-text.fn-listAnimation-item 音楽が必要なコンテンツにおいて、歌唱、作詞、作曲、編曲等含め、企画制作業務。オリジナルレーベルからの発信。
      li.m-list-01-item.fn-listAnimation
        p.m-list-01-title.fn-listAnimation-item 著作権管理
        p.m-list-01-subTitle.fn-listAnimation-item rights management
        p.m-list-01-text.fn-listAnimation-item 楽曲の登録、管理業務。
      li.m-list-01-item.fn-listAnimation
        p.m-list-01-title.fn-listAnimation-item 音楽スタジオ経営
        p.m-list-01-subTitle.fn-listAnimation-item music studio management
        p.m-list-01-text.fn-listAnimation-item 音楽スタジオ経営（AMBER NOTES, AMBER NOTES PICO）。
      li.m-list-01-item.fn-listAnimation
        p.m-list-01-title.fn-listAnimation-item 作家、アーティストのマネージメント
        p.m-list-01-subTitle.fn-listAnimation-item creator, artist management
        p.m-list-01-text.fn-listAnimation-item 音楽制作に伴う、作家やアーティストのブッキング、スケジュール管理業務。
    script(src="../js/app.js", type="text/javascript")
